
.strlist{
  float:left;
  width:266px;
  margin-bottom:30px;
}
.strlist .logoimg{
  position:relative;
}
.strlist .logoimg .logoimg{
  width:36px;
  height:65px;
  right:20px;
  z-index:10;
  position:absolute;
}
.strlist .name{
  font-size:16px;
  color:#040000;
}
.strlist .describe{
  margin-top:10px;
  color:#525252;
  line-height:22px;
}