@media all {.cbsect_b547f460{padding-bottom: 100px; padding-top:  100px; background-color:  rgba(0, 0, 0, 0); }
.cbdiv_304187f5{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.cbdiv_eecf3492{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size: cover; background-position:  50% 50%; height:  100%; }
.cbdiv_49b93207{height:  100%; color: rgb(255, 255, 255); background-color:  rgb(255, 255, 255); background-image:  linear-gradient(140deg, currentcolor, transparent); opacity:  0.6; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; }
.cbcont_422f26d3{padding-top:  0px; padding-bottom:  0px; background-color:  rgba(0, 0, 0, 0); min-height: 20px; }
.cbdiv_5ea0c231{min-height: 275px; display:  -webkit-box; display:  -ms-flexbox; display:  flex; margin-top:  0px; margin-bottom:  0px; }
.cbdiv_1c7d9f41{-webkit-box-orient:  vertical;-webkit-box-direction:  normal;-ms-flex-direction:  column;flex-direction:  column; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-flex:  1; -ms-flex:  1 1 0%; flex:  1 1 0%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.cbdiv_d014f572{padding:  2vw; color: #434343; text-align:  center; width:  65%; }
.cbimag_493be3f3{margin-top:  20px; width: 235px; margin-bottom:  20px; }
.cbdiv_8c25972c{min-height: 20px; }
.cbhead_465d55fb{line-height:  1.3em; margin-top:  0px; font-family:  Roboto; margin-bottom:  5px; font-size:  80px; font-weight: lighter; }
.cbhead_d2341174{line-height:  1.3em; margin-top:  0px; font-family: Roboto; padding-left:  2px; padding-right:  2px; }
.cbpara_cafcce31{line-height:  1.7em; opacity:  0.8; padding-left:  2px; padding-right:  2px; }
.cbdiv_920a9e44{min-height: 20px; }
.cbbsbu_99a21c7a{min-width: 100px; margin-top: 10px; margin-bottom: 5px; }
.cbdiv_cb23500b{min-height:  20px; margin-top:  10px; }
.cbicon_fd303e67{margin-right:  8px; font-size: 16px; }
.cbtext_8edc7665{color: inherit; }
.section_tkrvBx{height:  auto; background-color:  rgb(245, 245, 245); padding-bottom:  10px; padding-top: 20px; position:  static; z-index:  10; margin-top:  0px; }
.section_tkrvBx.dfghjk{padding-top:  40px; background-color:  rgb(235, 235, 235); position:  relative; z-index:  5; padding-bottom: 40px; }
.container_HKtbSc{padding-top:  0px; width:  90%; max-width:  1380px; padding-bottom: 0px; }
.div_qLcsN1{min-height:  10px; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-pack:  start; -ms-flex-pack:  start; justify-content:  flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.div_qLcsN1.dxscfvgbhn{-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start; -webkit-box-pack:  justify; -ms-flex-pack:  justify; justify-content:  space-between; }
.image_fz85JU{width: 240px; }
.image_fz85JU.dilanlogo{width:  100px; margin-bottom: 0px; }
.div_oUV3n2{display:  -webkit-box;display:  -ms-flexbox;display:  flex; min-height:  1px; }
.div_zqFgco{width:  120px; height:  40px; min-height:  40px; background-color: rgba(255,255,255,1); margin-right:  15px; border-radius:  6px; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-pack:  center; -ms-flex-pack:  center; justify-content:  center; -webkit-box-align:  center; -ms-flex-align:  center; align-items:  center; }
.image_fhSe0N{width: 100px; }
.image_YG9sTf{width:  25px; height: 25px; }
.div_zqFgco.asdasd{padding:  15px; transform: rotate(0deg) scale(1) translate(0%,0%); transition: All 0.5s ease; -ms-transform: rotate(0deg) scale(1) translate(0%,0%); -o-transform: rotate(0deg) scale(1) translate(0%,0%); -moz-transform: rotate(0deg) scale(1) translate(0%,0%); -webkit-transform: rotate(0deg) scale(1) translate(0%,0%); -ms-transition: All 0.5s ease; -o-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -webkit-transition: All 0.5s ease; }
.icon_RZCJ3j{color:  rgb(0, 0, 0); font-size:  19px; display:  block; opacity:  1; width:  21px; height:  19px; transform: rotate(0deg) scale(1) translate(0%,0%); transition: All 0.5s ease; -ms-transform: rotate(0deg) scale(1) translate(0%,0%); -o-transform: rotate(0deg) scale(1) translate(0%,0%); -moz-transform: rotate(0deg) scale(1) translate(0%,0%); -webkit-transform: rotate(0deg) scale(1) translate(0%,0%); -ms-transition: All 0.5s ease; -o-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -webkit-transition: All 0.5s ease; }
.icon_RZCJ3j.c-state1{display:  block; opacity:  0; height: 0px; }
.image_ESquGP{width:  110px; height:  0px; border-radius:  6px; position:  absolute; -webkit-transform:  rotate(0deg) scale(1) translate(0px, 0px); -ms-transform:  rotate(0deg) scale(1) translate(0px, 0px); transform:  rotate(0deg) scale(1) translate(0px, 0px); transition:  all 0.5s ease 0s; opacity: 0; }
.image_ESquGP.c-state1{width:  110px; height:  110px; opacity: 1; }
.row_O4r13o{min-height: 0px; }
.column_s8PApN{padding-left:  0px; padding-right:  0px; min-height: 0px; }
.div_qLcsN1.xcvbn{padding-left: 8px; }
.div_r8pEhV{display:  -webkit-box;display:  -ms-flexbox;display:  flex; min-height:  5px; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding-bottom:  5px; }
.div_r8pEhV.asdasd{max-height:  20px; -ms-flex-item-align:  start; align-self:  flex-start; -webkit-box-align:  center; -ms-flex-align:  center; align-items:  center; margin-top: 5px; }
.image_pcRpEr{width:  20px; margin-right:  4px; color: #cfcccc; }
.paragraph_Xzcenl{font-size:  15px; font-weight:  600; margin-bottom:  0px; margin-right:  20px; color: #000000; }
.paragraph_1TN5fd{margin-left:  0px; color:  rgb(82, 82, 82); font-size:  14px; font-weight:  500; width:  400px; }
.column_H6scDE{display:  -webkit-box;display:  -ms-flexbox;display:  flex; padding-left:  0px; -webkit-box-pack:  end; -ms-flex-pack:  end; justify-content:  flex-end; min-height: 0px; }
.paragraph_vHI66l{color: #7d7d7d; font-size:  12px; padding-left:  33px; padding-right:  33px; margin-bottom:  0px; text-align:  center; margin-top:  19px; }
.div_rXafQw{min-height:  10px; padding-left:  0px; margin:  6px auto 0px; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-pack:  center; -ms-flex-pack:  center; justify-content:  center; -webkit-box-align:  center; -ms-flex-align:  center; align-items:  center; margin-top: 6px; }
.textlink_IKlpeH{color:  rgb(85, 86, 86); font-family:  helvetica; font-size:  13px; }
.container_jvJTSl{padding-left:  0px; padding-right:  0px; text-align: center; }
.container_jvJTSl.zixun{display:  -webkit-box;display:  -ms-flexbox;display:  flex; -webkit-box-orient:  vertical; -webkit-box-direction:  normal; -ms-flex-direction:  column; flex-direction:  column; -webkit-box-pack:  center; -ms-flex-pack:  center; justify-content:  center; -webkit-box-align:  center; -ms-flex-align:  center; align-items:  center; margin-bottom: 0px; }
.container_jvJTSl.zixun.zxc{margin-bottom:  0px; padding-bottom: 120px; }
.container_FrfKwz{width:  100%; padding-left:  0px; padding-right:  0px; }
.container_54xSen{padding-left:  15px; padding-right:  15px; width: 90%; max-width:  1388px; }
.container_l9B2Hh{padding-left:  0px; padding-right: 0px; }
.container_F9sXrO{width:  90%; max-width: 1388px; }
.container_AS6lDY{min-height:  20px; position:  relative; height:  100%; width:  90%; max-width: 1388px; }
.container_BIMncS{padding:  30px 0px 50px; padding-bottom: 30px; }
.container_pzXjL0{width: 1170px; }
.container_pzXjL0.asdasdasd{width:  90%; max-width:  1388px; overflow:  hidden; }
.container_tIK3Uc{min-height:  60px; width:  90%; max-width: 1388px; }
.container_l9B2Hh.asdasdsad{width:  90%; max-width:  1388px; padding-left:  15px; padding-right: 15px; }
.container_BIMncS.asdasdasd{padding-bottom: 0px; width: 90%; max-width: 1388px; padding-left: 15px; padding-right: 15px;}
.container_BIMncS.zxcwweczxczcwwsc{padding:  0px 15px; width:  90%; max-width:  1388px; padding-top: 20px; }
.container_BIMncS.sadasdaws{padding-bottom: 0px; }
.container_TenUu7{width:  90%; max-width: 1388px; margin-top:  0px; margin-bottom:  0%; position:  relative; }
.container_TenUu7.asdasdsad{padding-bottom:  0px; max-width: 1388px; width:  90%; }
.container_jvJTSl.zixun.zxc.cxvasdf.vbnm{padding-top:  0px; padding-bottom:  0px; padding-left:  15px; padding-right: 15px; }
.container_TenUu7.asdasd{max-width:  1388px; width: 90%; }
.container_l9B2Hh.asdzxc{padding-left:  15px; padding-right:  15px; width:  90%; max-width: 1388px; }
.container_l9B2Hh.asdfghj{width: 90%; max-width:  1388px; padding-right:  15px; padding-left:  15px; }
.container_BIMncS.asdsad{padding-left:  15px; padding-right:  15px; width:  90%; max-width:  1388px; padding-top:  20px; padding-bottom: 15px; }
.container_v6XDOO{width:  90%; max-width: 1388px; position:  relative; }
.container_BIMncS.asdasdasd.hjkl{width:  90%; max-width: 1388px; padding-left:  15px; padding-right:  15px; }
.container_yHuteo{width:  90%; max-width: 1388px; height:  100%; overflow:  visible; }
.container_BIMncS.asdasdasd.dfg{width: 90%; max-width:  1388px; padding-left:  15px; padding-right:  15px; padding-top:  20px; }
.container_l9B2Hh.asdasdsad.ikyumjhngtbfvd{width:  90%; max-width:  1388px; padding-left:  15px; padding-right: 15px; }
.container_BIMncS.sadasdaws.kljhmgfd{max-width:  1388px; padding-left:  15px; padding-right:  15px; width: 90%; }
.container_BIMncS.asdasdasd.254hkh{padding-top: 35px; }
.container_BIMncS.sadasdaws.henggang{padding-top: 20px; }
.container_BIMncS.sadasdaws.henggang.hanggang1{width: 90%; max-width:  1388px; padding-left:  15px; padding-right:  15px; }
.container_B1mMMG{width:  90%; max-width: 1388px; padding-top:  20px; }
.container_M3R8Lv{max-width:  1388px; width:  90%; position: relative; }
.container_hyuZ0U{width:  90%; max-width: 1388px; }
.container_BIMncS.asdasdasd.fhkjjh45{padding-top:  20px; width: 90%; }
.container_sQofHv{width:  90%; max-width:  1388px; height: 100%; }
.favorite{border-style: solid; border-color: rgb(255, 176, 23) !important; overflow: hidden; position: relative; border-width: 1px !important; }
.div_WUkJAu.fasdsf{padding-bottom: 30px; }
.row_9LRpdP{padding-bottom:  0px; border-bottom:  1px none rgb(79, 79, 79); margin-left:  -10px; margin-right:  -10px; margin-bottom: -15px; }
.row_t0YwuH{min-height:  20px; }
.row_zaCi9o{padding-top: 0px; }
.row_J4vYsb{padding-bottom:  0px; border-bottom:  1px none rgb(79, 79, 79); margin-left:  -15px; margin-right: -15px; }
.row_XZAZtZ{padding-bottom:  0px; border-bottom:  1px dotted rgb(79, 79, 79); border-bottom-style: none; }
.row_DIIGYS{padding-bottom:  0px; border-bottom:  1px dotted rgb(79, 79, 79); border-bottom-style: none; }
.row_4N9ZcI{background-color: rgba(41,41,41,1); }
.row_zaCi9o.asdasdsad{background-color:  rgb(69, 69, 69); padding-top: 30px; padding-bottom:  30px; }
.row_ewEdvR{margin:  0px; background-color: rgba(255,255,255,1); }
.row_hQ9Jrw{margin-bottom:  24px; margin-left:  -15px; margin-right: -15px; }
.row_9LRpdP.asdasd{margin-left:  -15px; margin-right:  -15px; margin-bottom: 15px; }
.row_9LRpdP.anli{margin-left:  -15px; margin-right:  -15px; margin-bottom: 0px; }
.row_hQ9Jrw.fuwu{margin-left:  0px; margin-right:  0px; }
.row_yfmgbI{padding-bottom:  0px; border-bottom:  1px dotted rgb(79, 79, 79); margin-left:  -15px; margin-right:  -15px; border-bottom-style: none; }
.row_9LRpdP.acdswqsa{margin-left:  -15px; margin-right: -15px; }
.row_zDvtAI.qtake{margin-left:  -7.5px; margin-right: -7.5px; }
.row_7J9yTr{padding-bottom: 0px; border-bottom: 0px none rgb(79, 79, 79); margin-left: -15px; margin-right: -15px;}
.row_pCFkV7{min-height:  0px; height: 40px; }
.row_vFylgP{margin-left:  -15px; margin-right: -15px; }
.row_axQogB{margin-left:  -15px; margin-right: -15px; }
.row_aCXwIB{margin-left:  -15px; margin-right:  -15px; }
.row_LXkD53{margin-left:  -15px; margin-right: -15px; }
.row_qRUmo0{margin-left:  -15px; margin-right:  -15px; height: 492px; }
.row_hQ9Jrw.gfddh4{margin-bottom: 15px; }
.row_aCXwIB.hgfh46.ufy4{height: 678px; }
.row_qQawRL{height:  100%; display:  block; margin-left:  -15px; margin-right: -17px; }
.row_68BKQ2{padding-bottom:  0px; border-style:  solid; border-width:  1px; border-color:  rgb(102, 102, 102); border-bottom-style: none; border-top-style: none; border-right-style: none; border-left-style: none; }
.row_4AEBkz{margin-left:  -15px; margin-right: -15px; }
.row_9LRpdP.asdasd.fhg456{margin-bottom: 0px; }
.row_JrmLHW{padding-top:  0px; padding-bottom:  0px; border-bottom:  1px dotted rgb(79, 79, 79); margin-left:  -15px; margin-right:  -15px; border-bottom-style: none; }
.row_9LRpdP.asdasd.gfsdy45633{margin-bottom: 0px; }
.navbar-nav > li > .navlink_FW3oS1.dfghjk{color: #535656; }
.heading_58iypc.dfghjk{margin-left:  167px; color:  rgb(83, 86, 86); font-weight:  600; margin-top: 5px; }
.navbrand_XzSMKj.dfghjk{background-image: url(./files/04a1144485306edcfde55b159c97c4cf.png); }
.navbrand_XzSMKj.dfghjk.asdfghj{width:  160px; height:  40px; margin-top:  6px; margin-left:  0px; margin-bottom:  auto; left:  0px; right:  0px; top:  0px; bottom:  0px; position:  absolute; display:  inline-block; }
.image_fz85JU.wefxcvcdsvfsdafxzcv{width: 240px; margin-top: 20px;}
.section_nIxKSH.sdfsdfsdf{background-color: #f5f5f5f5; }
.section_nIxKSH.sdfsdfsdf.zxcdsasf{background-color: rgba(255,255,255,0.96); }
.cbcolu_7209798e.sdfsdfxcv{padding:  0px; padding-bottom: 0px; }
.image_shDrwP.asdasd.sdfsdfwe{margin-left: -11px; }
.grid_K9tZGg.cvbn.asdasd{margin-left: -15px; }
.grid_K9tZGg.cvbn.asdasd.sadasdsad{margin-left:  -5px; margin-right:  -5px; margin-top: -5px; }
.grid_K9tZGg.asdasdsad{margin-right:  0px; margin-left:  0px; }
.paragraph_fquTjG.asdasdqwe{color: #ea5550; }
.linkblock_G5OuMN.asdasdqwe{margin-top:  0px; width:  100px; min-width:  100px; max-width:  100px; -webkit-box-pack:  center; -ms-flex-pack:  center; justify-content:  center; border-width:  1px; border-bottom-width: 1px; border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; }
.div_vvNNDJ.asdasd{margin-top: 12px; }
.div_WUkJAu.asdasd{margin-bottom:  0px; border-bottom-style:  none; }
.div_KtEZQb.sad.asdasd{margin-bottom: 5px; }
.div_KJHrLp.asdasd{margin-bottom: 0px; }
.heading_10D9OA.asdasd{font-size: 15px; }
.paragraph_yLkgCS.sadsad.asdasdwqe{font-size:  15px; -webkit-line-clamp: 6; }
.div_F9Q1XE.asdasdsa{background-color: #f5; }
.column_2yF0oA.asdasdsad{height: 360px; }
.column_2yF0oA.asdasdsad.xcvbn{height:  auto; padding-top: 0px; margin-bottom:  0px; }
.column_kcDLWS.asdasdasdas{height: 240px; }
.div_dpDNjC.asd.asdasd{padding-top:  0px; padding-left: 30px; }
.div_dpDNjC.asfsadfa.asdasdsa{min-height: 0px; }
.div_pWPqr6.saddsadsa.asfsdfdsaf.asdasdsad{margin-top: 15px; }
.paragraph_uD2NSy.asdasd{width:  70%; font-size:  14px; margin-top:  0px; padding-right: 10px; }
.cbdiv_fe073aba.asdasdsad{margin-top: 0px; }
.div_7SDlmc.asdasdsadsa{margin-bottom: 0px; }
.section_o1tLAN.asdasd{background-color: rgba(245,245,245,1); }
.image_shDrwP.asdasd{width: 55px; -webkit-filter:  hue-rotate(-180deg) contrast(0) saturate(0); filter:  hue-rotate(-180deg) contrast(0) saturate(0); }
.image_shDrwP.asdasd.c-state1{filter:  contrast(1) hue-rotate(1deg) saturate(1); -webkit-filter: contrast(1) hue-rotate(1deg) saturate(1); }
.grid_K9tZGg.cvbn.asdasd.sadasdsad.werdxsfwefxc{margin-bottom:  0px; width:  100%; margin-left:  0px; margin-right: 0px; }
.section_nIxKSH.asdasd{padding-bottom:  0px; padding-top: 60px; }
.div_qIUvVR.asdasd{background-image: url("./files/2fbd39f325dcdbfb55f181ec7979727a.jpg"); height: 400px;}
.paragraph_QHYlgv.asdasd{width: 1200px; }
.image_shDrwP.asdasd.xcb{width:  50px; margin-right: 5px; }
.cbgrid_48a0e1a0.asdasd{margin-bottom: 20px; padding-top:  0px; }
.cbdiv_d2dd8b3b.asdasd{background-image: url(./files/d00e500b7d0839355820412951168e76.jpg); background-size:  cover; background-repeat:  no-repeat; background-position:  50% 50%; min-height:  380px; display:  block; -webkit-box-orient:  vertical; -webkit-box-direction:  normal; -ms-flex-direction:  column; flex-direction:  column; -webkit-box-pack:  center; -ms-flex-pack:  center; justify-content:  center; -webkit-box-align:  center; -ms-flex-align:  center; align-items:  center; background-color:  transparent; }
.cbdiv_d2dd8b3b.asdasd.xcvzdsf{background-image: url(./files/d9cec7a7d1c97f09cd795741ff1061de.jpg); }
.section_nIxKSH.asdasd.fghjkl{padding-top:  50px; padding-bottom: 50px; }
.div_7SDlmc.asdasd{position:  relative; }
.linkblock_G5OuMN.asdasdqwe.c-state1{background-color:  rgb(234, 85, 80); border-color:  rgb(234, 85, 80); border-bottom-color: rgba(234,85,80,1); border-top-color: rgba(234,85,80,1); border-right-color: rgba(234,85,80,1); border-left-color: rgba(234,85,80,1); }
.div_F9Q1XE2.asdasdsa{background-color: rgba(255,255,255,1); }
.grid_K9tZGg.cvbn.asdasd.sadasdsad.werdxsfwefxc.asdasdxzc{margin-top: 0px; }
.div_afP7Nc.sdadsf.asdasd{margin-top:  0px; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align:  start; -ms-flex-align:  start; align-items:  flex-start; }
.div_oqoeYG.asdasd{background-color:  rgb(0, 0, 0); border-bottom-style: none; border-top-style: none; border-right-style: none; border-left-style: none; }
.div_oqoeYG.asdasd.c-state1{background-color: rgba(136,136,136,1); }
.div_oqoeYG.asdasd.qaz{background-color: rgba(136,136,136,1); }
.div_oqoeYG.asdasd.qaz.c-state1{background-color: rgba(0,0,0,1); }
.paragraph_4FeXGr.asdasd{color:  rgb(255, 255, 255); margin-right: 10px; }
.paragraph_4FeXGr.asdasdsad{color: #ffffff; }
.div_afP7Nc.sdadsf.asdasd.qazqaz{-webkit-box-pack:  center;-ms-flex-pack:  center;justify-content:  center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.cbdiv_0a4bc9d8.asdasd{padding:  0vw; width:  35%; margin-top: 45px; }
.div_QtY9Xh.asdasd{padding-bottom:  10px; -webkit-box-orient:  horizontal; -webkit-box-direction:  normal; -ms-flex-direction:  row; flex-direction:  row; padding-left:  15px; min-height: 200px; }
.div_rseTXK.asdasd{height:  auto; padding-top:  100%; background-image:  url("./files/a11d1a10308063472a852e7141d38cbf.jpg"); background-position:  50% 50%; background-repeat:  no-repeat; background-size:  90% 90%; }
.div_pWPqr6.saddsadsa.asfsdfdsaf.asdasdsad.cxzcxzczc.gdfvbcer{margin-bottom:  20px; padding-top: 2px; }
.div_F9Q1XE.asdasdsa.asdasd{padding-top:  55px; padding-bottom:  55px; background-image: url(./files/20bd2860c7e36b238a70472bc406e0b0.jpg); background-position:  50% 50%; background-size:  cover; }
.div_l4vKx5.asdasd{margin-bottom: 10px; }
.section_o1tLAN.asdasd.czxwer{margin-bottom: 0px; }
.section_o1tLAN.asdasd.asdasdxzcwe{margin-bottom:  0px; background-color: rgba(245,245,245,1); }
.div_afP7Nc.sdadsf.asdasd.dsfgvcb{display: block; -webkit-box-orient:  horizontal; -webkit-box-direction:  normal; -ms-flex-direction:  row; flex-direction:  row; -webkit-box-pack:  start; -ms-flex-pack:  start; justify-content:  flex-start; }
.div_oqoeYG.asdasd.sadcxz{left:  0px; position:  static; margin-left: 0; margin-right: auto; }
.div_fTEOh1.asdasd{position: relative; }
.div_7SDlmc.asdasd.fdsrsrty{overflow:  hidden; padding-left:  0px; padding-right:  0px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15); -ms-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15); -o-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15); -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15); }
.paragraph_yLkgCS.sadsad.asdasdwqe.baisewenzi{color: #e5e5e5; }
.image_shDrwP.asdasd.xcb.okds{margin-left: -12px; }
.image_shDrwP.asdasd.okds{margin-left: -11px; }
.image_shDrwP.asdasd.sadasdqw{margin-left: -11px; }
.image_shDrwP.asdasd.asdasdasd{margin-left: -11px; }
.image_shDrwP.asdasd.asdasdasxz{margin-left: -11px; }
.column_kcDLWS.asdasdasdas.fsdgdsf545{height:  auto; margin-bottom: 0px; }
.cbdiv_0a4bc9d8.asdasd.gjfgj424{margin-top:  0px; width: 100%; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds.th456{margin-top:  15px; margin-bottom: 15px; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds.jh456hj{margin-top:  15px; margin-bottom: 15px; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds.hjghgfj46{margin-top:  15px; margin-bottom: 15px; }
.div_qIUvVR.xcvbnm{height:  400px; background-image: url(./files/20bd2860c7e36b238a70472bc406e0b0.jpg); }
.div_Thm37x{width:  500px; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-align:  center; -ms-flex-align:  center; align-items:  center; min-height:  200px; background-color:  rgb(255, 255, 255); margin-bottom:  40px; box-shadow:  rgba(0, 0, 0, 0.05) 0px 0px 15px 0px; border-radius:  6px; margin-top: -55px; padding-left:  22px; padding-right:  22px; }
.section_WVce9B{background-image: url(./files/e358e44409d3db3d64630691d7387740.jpg); background-size: cover; background-position: 50% 0%; position: relative; }
.div_WGJ9Tb{border-style: none; border-bottom-color: transparent; border-width: 999px 300px 0px 400px; border-right-color: transparent; border-top-color: rgba(231, 76, 60, 0.8); width: 50%; padding-top: 15%; height: 100%; position: absolute; background-color: rgba(231,76,60,0.8); }
.heading_UQmBKx{color: rgb(255, 255, 255); bottom: 0px; right: 0px; top: 61px; left: 0px; text-align: center; margin-top: 5%; font-size: 48px; }
.div_wQsvIj{width: 50%; position: absolute; bottom: 0px; right: 0px; top: 20%; left: 0px; margin-left: auto; margin-right: 0px; text-align: center; }
.div_bJVaaK{display: inline-block; position: relative; margin-right: 20%; }
.image_BM1Mef{max-width: 100%; }
.icon_WBK4GF{font-size: 20px; color: rgb(255, 255, 255); width: 30px; height: 30px; position: absolute; bottom: 0px; right: 0px; top: 60%; left: 20%; }
.icon_WBK4GF.c-state1{color: #e74c3c; }
.icon_WBK4GF.dian4{left: 50%; top: 80%;}
.icon_WBK4GF.dian3{top: 20%; left: 30%; }
.icon_WBK4GF.dian1{top: 40%; left: 70%; }
.container_DZuT3o{width: 50%; margin-left: 0px; margin-right: auto; padding: 0% 0px 3%; position: static; margin-top: 5%; }
.div_Ijyd2b{margin-bottom: 50px; text-align: center; margin-right: -50px; float: right; width: 100%; position: relative; margin-left: ; }
.icon_CwAKin{font-size: 50px; width: 100px; height: 100px; border: 4px solid rgb(255, 255, 255); border-radius: 200px; line-height: 1.8em; color: #e74c3c; float: right; background-color: rgb(255, 255, 255); }
.icon_CwAKin.dd1{margin-left: 150px; }
.div_lRrBEQ{margin-right: 20px; width: 70%; float: right; }
.heading_XLExuF{color: rgb(255, 255, 255); font-size: 18px; text-align: right; margin-top: 10px; margin-right: ; }
.paragraph_FzzDWb{color: rgb(255, 255, 255); text-align: right; font-size: 14px; line-height: 1.5em; }
.image_UWHZit{width:  100px; height:  100px; margin-left: 21px; }
.div_7Ru6ir{margin-left: 27px; }
.heading_bg5TWr{font-size: 14px; }
.div_zqFgco:hover{height: 40px; margin-bottom:  0px; position:  relative; z-index:  10; top:  0px; }
.div_zqFgco.asdasd:hover{height:  120px; padding:  0px; }
.textlink_IKlpeH:hover{color: #ea5550; }
.row_9LRpdP:hover{opacity: 1; }
.row_J4vYsb:hover{opacity: 1; }
.row_XZAZtZ:hover{opacity: 1; }
.row_DIIGYS:hover{opacity: 1; }
.row_yfmgbI:hover{opacity: 1; }
.row_7J9yTr:hover{opacity: 1; }
.row_68BKQ2:hover{opacity: 1; }
.row_JrmLHW:hover{opacity: 1; }
.cbdiv_d2dd8b3b.asdasd:hover{background-color: rgba(0,0,0,1); }
.icon_WBK4GF:hover{color: #e74c3c; bottom: 0px; right: 0px; top: 20%; left: 30%; width: 30px; height: 30px; }
.icon_WBK4GF.dian2:hover{top: 60%; left: 20%; }
.icon_CwAKin:hover{color: #ffffff; background-color: rgb(231, 76, 60); }
.cbdiv_d014f572::before{position: relative; }
.favorite::before{content:  "1"; position:  absolute; width:  0px; height:  0px; border-top:  40px solid rgb(255, 176, 23); border-left:  40px solid transparent; -webkit-transform:  rotate(270deg) scale(1) translate(0%, 0%); -ms-transform:  rotate(270deg) scale(1) translate(0%, 0%); transform:  rotate(270deg) scale(1) translate(0%, 0%); transition:  all 0s ease; top:  0px; left: 0px; z-index:  10; }
} 
@media (max-width: 991px) {.div_zqFgco.asdasd:hover{height: 80px; }
.cbdiv_d014f572{width:  95%; Width: 100%; }
.container_HKtbSc{width: 100%; }
.div_zqFgco{width:  80px; height:  30px; min-height: 30px; }
.image_YG9sTf{width:  23px; height: 23px; }
.image_ESquGP{width:  70px; height: 0px; -webkit-transform:  rotate(0deg) scale(1) translate(0px, 0px); -ms-transform:  rotate(0deg) scale(1) translate(0px, 0px); transform:  rotate(0deg) scale(1) translate(0px, 0px); transition:  all 0.5s ease 0s; }
.image_ESquGP.c-state1{height: 65px; width:  65px; }
.div_r8pEhV{width:  auto; display:  -webkit-box; display:  -ms-flexbox; display:  flex; }
.div_r8pEhV.asdasd{width: 80px; }
.paragraph_Xzcenl{width:  30px; margin-right: 10px; font-size:  14px; }
.paragraph_1TN5fd{width:  auto; min-width:  200px; font-size: 12px; }
.column_H6scDE{-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start; }
.div_rXafQw{-webkit-box-pack:  center;-ms-flex-pack:  center;justify-content:  center; -webkit-box-align:  start; -ms-flex-align:  start; align-items:  flex-start; padding-left: 0px; }
.textlink_IKlpeH{padding-left: 0px; }
.container_54xSen{width: 100%; }
.container_F9sXrO{padding-left:  15px; padding-right:  15px; width: 100%; }
.container_AS6lDY{width: 100%; }
.container_BIMncS{padding:  15px; width: 100%; }
.container_pzXjL0.asdasdasd{margin-bottom:  0px; padding-top:  20px; padding-left:  15px; padding-right:  15px; width: 100%; }
.container_tIK3Uc{width: 100%; }
.container_l9B2Hh.asdasdsad{width:  100%; padding-left: 15px; }
.container_BIMncS.asdasdasd{width:  100%; }
.container_BIMncS.zxcwweczxczcwwsc{width: 100%; }
.container_BIMncS.sadasdaws{padding-left:  15px; padding-top: 20px; }
.container_TenUu7.asdasdsad{width: 100%; }
.container_jvJTSl.zixun.zxc.cxvasdf.vbnm{margin-top: 30px; }
.container_TenUu7.yhjukjk{width: 100%; }
.container_TenUu7.asdasd{width: 100%; }
.container_TenUu7.asdasd.ewrwer{width: 100%; }
.container_l9B2Hh.asdzxc{width: 100%; }
.container_l9B2Hh.asdfghj{width: 100%; }
.container_BIMncS.asdsad{padding:  7.5px 15px 10px; width:  100%; padding-bottom: 7.5px; }
.container_v6XDOO{margin-left:  auto; margin-right:  auto; padding-top:  29px; margin-bottom:  0px; width: 100%; }
.container_BIMncS.asdasdasd.hjkl{padding-top: 15px; padding-bottom:  0px; width:  100%; }
.container_yHuteo{width: 100%; }
.container_BIMncS.asdasdasd.dfg{width: 100%; }
.container_l9B2Hh.asdasdsad.ikyumjhngtbfvd{width:  100%; padding-top:  7.5px; padding-bottom: 7.5px; }
.container_BIMncS.sadasdaws.kljhmgfd{padding-top:  15px; width: 101%; }
.container_BIMncS.asdasdasd.iokujyhtgrf{padding-bottom: 0px; }
.container_BIMncS.sadasdaws.henggang.hanggang1{padding-top:  15px; width: 100%; }
.container_B1mMMG{width:  100%; padding-top: 15px; }
.container_M3R8Lv{height:  100%; width: 100%; }
.container_hyuZ0U{width: 100%; }
.container_BIMncS.asdasdasd.fhkjjh45{width: 100%; }
.container_sQofHv{width: 100%; }
.div_WUkJAu.fasdsf{padding-bottom: 15px; }
.row_9LRpdP{margin-bottom: -12px; }
.row_J4vYsb{margin-left:  -7.5px; margin-right: -7.5px; }
.row_zaCi9o.asdasdsad{padding-left: 28px; }
.row_ewEdvR{margin-left:  0px; margin-right: 0px; }
.row_hQ9Jrw{margin-bottom:  15px; margin-right:  -15px; margin-left: -11px; }
.row_9LRpdP.asdasd{margin-right:  -7.5px; margin-left:  -7.5px; margin-bottom: 7.5px; }
.row_9LRpdP.anli{margin-right: -7.5px; margin-bottom:  0px; margin-left:  -7.5px; }
.row_hQ9Jrw.fuwu{margin-left:  -7.5px; margin-right: -7.5px; margin-bottom:  15px; }
.row_yfmgbI{margin-left:  -7.5px; margin-right: -7.5px; border-bottom-style:  none; }
.row_9LRpdP.acdswqsa{margin-left:  -7.5px; margin-right: -7.5px; }
.row_zDvtAI.qtake{margin-left:  -7.5px; margin-right: -7.5px; }
.row_7J9yTr{margin-left:  -7.5px; margin-right: -7.5px; }
.row_hQ9Jrw.gfddh4{margin-left:  -10px; margin-right:  -10px; margin-bottom: 10px; }
.row_k3lhGK{margin-left:  -15px; margin-right: -15px; }
.row_JrmLHW{margin-left:  -7.5px; margin-right: -7.5px; }
.row_9LRpdP.asdasd.gfsdy45633{margin-bottom:  7.5px; margin-top: -7.5px; }
.heading_58iypc.dfghjk{font-size:  12px; margin-left: 143px; }
.image_fz85JU.wefxcvcdsvfsdafxzcv{width:  220px; margin-top: 0px; }
.section_nIxKSH.sdfsdfsdf.zxcdsasf{padding-bottom: 0px; }
.div_G7ZdFR.asdsad.sdfsdfsdf{padding-top: 20px; }
.section_o1tLAN.sdfsdfdfs{margin-bottom: 00px; }
.linkblock_G5OuMN.asdasdqwe{border-width:  0.5px; border-bottom-width: 0.5px; border-top-width: 0.5px; border-right-width: 0.5px; border-left-width: 0.5px; }
.paragraph_yLkgCS.sadsad.asdasdwqe{-webkit-line-clamp: 5; }
.column_2yF0oA.asdasdsad.xcvbn{height:  auto; width:  33.3333%; margin-bottom:  0px; padding-left:  7.5px; padding-right:  7.5px; display: inline-block; }
.div_dpDNjC.asd.asdasd{padding-left:  0px; padding-right: 0px; }
.paragraph_uD2NSy.asdasd{width:  100%; font-size:  14px; font-weight:  500; padding-right: 10px; }
.div_WUkJAu.asdasd.nbmvbnmnvbm{padding-bottom:  0px; border-bottom-style: none; }
.paragraph_XZkvQ7.asdasdqwe{width:  75px; }
.div_pWPqr6.saddsadsa.asfsdfdsaf.asdasdsad.cxzcxzczc{margin-bottom: 13px; }
.image_shDrwP.asdasd{width: 55px; }
.div_qIUvVR.asdasd{height: 200px; }
.image_shDrwP.asdasd.xcb{width: 50px; }
.cbgrid_48a0e1a0.asdasd{padding-left:  0px; padding-top:  0px; padding-right:  0px; padding-bottom: 0px; }
.div_7SDlmc.asdasd{overflow:  hidden; box-shadow:  rgba(0, 0, 0, 0.15) 0px 0px 10px 0px; }
.cbdiv_0a4bc9d8.asdasd{width:  100%; }
.div_pWPqr6.saddsadsa.asfsdfdsaf.asdasdsad.cxzcxzczc.gdfvbcer{margin-bottom: 15px; }
.div_F9Q1XE.asdasdsa.asdasd{padding-top:  15px; padding-bottom: 15px; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds{width:  50%; margin-top:  7.5px; margin-bottom: 7.5px; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds.th456{margin-top:  7.5px; margin-bottom: 7.5px; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds.jh456hj{margin-top:  7.5px; margin-bottom: 7.5px; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds.hjghgfj46{margin-top:  7.5px; margin-bottom: 7.5px; }
.column_2yF0oA.asdasdsad.xcvbn.gfd456{display: none; }
.div_qIUvVR.xcvbnm{height: 200px; }
.div_WGJ9Tb{width: 70%; }
.container_DZuT3o{width: 70%; }
.div_Ijyd2b{width: ; }
.div_lRrBEQ{width: 70%; }
.image_UWHZit{min-height:  100px; max-height:  100px; min-width:  100px; max-width:  100px; margin-left: -5px; }
.div_7Ru6ir{margin-left: 0px; }
.heading_bg5TWr{margin-left: 15px; }
} 
@media (max-width: 767px) {.cbdiv_1c7d9f41{width: 320px; }
.cbdiv_d014f572{width:  95%; Width: 100%; }
.cbhead_465d55fb{width:  95%; Width: 100%; }
.cbpara_cafcce31{width:  95%; Width: 100%; }
.cbbsbu_99a21c7a{margin-bottom: 10px; }
.section_tkrvBx.dfghjk{padding-top:  20px; padding-bottom:  47px; background-color:  rgb(235, 235, 235); z-index:  50; }
.container_HKtbSc{width: 100%; }
.image_fz85JU.dilanlogo{margin-bottom:  10px; width:  80px; }
.div_oUV3n2{-webkit-box-orient:  vertical;-webkit-box-direction:  normal;-ms-flex-direction:  column;flex-direction:  column; display: none; }
.div_vzZr1l{min-height: 10px; }
.row_O4r13o{min-height: 10px; }
.div_qLcsN1.xcvbn{padding-left: 0px; }
.paragraph_Xzcenl{width:  35px; min-width: 35px; }
.paragraph_1TN5fd{margin-bottom:  0px; padding-top:  0px; margin-top: 4px; }
.column_H6scDE{padding-left:  0px; padding-right:  0px; min-height: 20px; }
.paragraph_vHI66l{margin-top:  15px; padding-left:  0px; padding-right:  0px; padding-bottom: 5px; }
.container_54xSen{width: 100%; }
.container_F9sXrO{padding-left:  15px; padding-right:  15px; width: 100%; }
.container_AS6lDY{height:  auto; }
.container_BIMncS{padding-left:  15px; padding-top:  15px; padding-right:  15px; padding-bottom: 15px; }
.container_pzXjL0.asdasdasd{padding-top:  0px; padding-left:  15px; padding-right: 15px; }
.container_tIK3Uc{display:  -webkit-box;display:  -ms-flexbox;display:  flex; min-height:  40px; width:  100%; box-shadow:  rgba(89, 89, 89, 0.24) 1px 0px 10px 0px; height: 50px; }
.container_l9B2Hh.asdasdsad{width:  100%; }
.container_BIMncS.asdasdasd{padding-bottom:  0px; width: 100%; }
.container_BIMncS.zxcwweczxczcwwsc{padding-bottom:  0px; padding-top:  15px; width: 100%; }
.container_BIMncS.sadasdaws{padding-bottom: 5px; }
.container_TenUu7{width:  100%; margin-top:  0%; padding-top:  30px; padding-bottom: 30px; }
.container_TenUu7.asdasdsad{padding-bottom:  30px; padding-left:  15px; padding-right:  15px; width: 100%; }
.container_jvJTSl.zixun.zxc.cxvasdf{padding-top: 30px; }
.container_jvJTSl.zixun.zxc.cxvasdf.vbnm{margin-top:  0px; padding-top: 20px; }
.container_TenUu7.yhjukjk{margin-bottom: 0px; }
.container_TenUu7.asdasd{width:  100%; text-align: center; }
.container_TenUu7.asdasdsad.asdasd{max-width:  100%; margin-top:  0%; }
.container_l9B2Hh.asdzxc{padding-left:  15px; padding-right:  15px; width:  100%; padding-top:  7.5px; padding-bottom: 7.5px; }
.container_l9B2Hh.asdfghj{padding:  24px 15px 0px; width:  100%; padding-top: 0px; }
.container_BIMncS.asdsad{padding:  7.5px 15px 0px; width:  100%; padding-bottom: 7.5px; }
.container_tIK3Uc.c-state1{height: auto; }
.container_TenUu7.yhjukjk.sadasd{padding-bottom: 0px; }
.container_v6XDOO{padding-top:  11px; width: 100%; }
.container_BIMncS.asdasdasd.hjkl{width:  100%; }
.container_yHuteo{width:  100%; }
.container_BIMncS.asdasdasd.dfg{width:  100%; }
.container_l9B2Hh.asdasdsad.ikyumjhngtbfvd{width:  100%; padding-left:  15px; padding-right: 15px; }
.container_BIMncS.sadasdaws.kljhmgfd{width:  100%; padding-bottom: 0px; }
.container_BIMncS.sadasdaws.henggang.hanggang1{width:  100%; padding-bottom: 0px; }
.container_B1mMMG{width:  100%; }
.container_F9sXrO.baifenbei{padding-left:  0px; padding-right: 0px; }
.container_M3R8Lv{width: 100%; }
.container_TenUu7.yhjukjk.sadasd.fdgdfg46{padding-top: 18px; }
.container_BIMncS.asdasdasd.fhkjjh45{padding-bottom:  0px; width: 100%; }
.fa_hidden{display: none; }
.fa_display{display: block; }
.div_WUkJAu.fasdsf{padding-bottom: 15px; }
.row_9LRpdP{margin-left:  -10px; margin-right:  -10px; margin-bottom: -10px; }
.row_XZAZtZ{width:  100%; margin-bottom: 0px; }
.row_4N9ZcI{background-color: rgba(71,71,71,1); }
.row_zaCi9o.asdasdsad{padding-left:  0px; padding-top:  0px; padding-bottom: 0px; }
.row_ewEdvR{margin-top:  0px; margin-bottom: 30px; }
.row_hQ9Jrw{margin-bottom:  0px; margin-left:  -7px; margin-right: -6px; }
.row_9LRpdP.asdasd{margin-left:  -7.5px; margin-right:  -7.5px; margin-bottom: 0px; }
.row_9LRpdP.anli{margin-left:  -7.5px; margin-right: -7.5px; margin-bottom:  0px; }
.row_hQ9Jrw.fuwu{margin-left:  -7px; margin-right: -7px; }
.row_yfmgbI{margin-left:  -7.5px; margin-right: -7.5px; }
.row_9LRpdP.acdswqsa{margin-bottom:  0px; margin-left:  -10px; margin-right: -10px; }
.row_pCFkV7{height:  30px; margin-left:  -7px; margin-right: -7px; }
.row_qRUmo0{height: 400px; }
.row_aCXwIB.hgfh46.ufy4{height: 400px; }
.row_9LRpdP.asdasd.k465{margin-bottom: 7.5px; }
.row_9LRpdP.asdasd.hjg45{margin-bottom: 7.5px; }
.row_9LRpdP.asdasd.gdfs456{margin-bottom: 7.5px; }
.row_JrmLHW{margin-left: -7.5px; }
.heading_58iypc.dfghjk{margin-left:  126px; margin-top: 3px; }
.image_fz85JU.wefxcvcdsvfsdafxzcv{width: 160px; }
.cbcolu_7209798e.sdfsdfxcv{margin-bottom: 15px; }
.div_G7ZdFR.asdsad.sdfsdfsdf{padding-top: 0px; }
.linkblock_G5OuMN.asdasdqwe{padding-left:  40px; padding-right:  40px; width:  160px; max-width: 160px; }
.div_vvNNDJ.asdasd{margin-top: 0px; }
.div_KtEZQb.sad.asdasd{margin-top: 5px; }
.div_KJHrLp.asdasd{padding-bottom: 2px; }
.heading_10D9OA.asdasd{margin-top: 2px; }
.paragraph_yLkgCS.sadsad.asdasdwqe{height: auto; }
.div_F9Q1XE.asdasdsa{background-color: rgba(255,255,255,1); }
.column_2yF0oA.asdasdsad.xcvbn{height:  auto; width:  50%; margin-bottom:  11px; }
.column_kcDLWS.asdasdasdas{width:  100%; padding-left:  0px; padding-right: 0px; }
.div_dpDNjC.asd.asdasd{padding-left: 20px; }
.div_pWPqr6.saddsadsa.asfsdfdsaf.asdasdsad{padding-left:  10px; margin-top: 0px; }
.paragraph_uD2NSy.asdasd{padding-right:  10px; }
.div_WUkJAu.asdasd.nbmvbnmnvbm{padding-bottom:  0px; border-bottom-style: none; }
.paragraph_XZkvQ7.asdasdqwe{width:  60px; -ms-flex-item-align:  start; align-self:  flex-start; margin-top: 4px; margin-bottom:  0px; }
.div_pWPqr6.saddsadsa.asfsdfdsaf.asdasdsad.cxzcxzczc{margin-top:  10px; height: auto; }
.div_7SDlmc.asdasdsadsa{margin-bottom: 0px; }
.section_o1tLAN.asdasd{background-color: rgba(255,255,255,1); }
.image_shDrwP.asdasd{width:  40px; margin-bottom:  1px; margin-right: 5px; }
.div_qIUvVR.asdasd{height: 120px; }
.cbgrid_48a0e1a0.asdasd{padding-left:  0px; padding-right: 0px; }
.cbgrid_48a0e1a0.asdasd.asddsasad{margin-bottom: 0px; }
.section_nIxKSH.asdasd.fghjkl{padding-top:  0px; padding-bottom: 0px; }
.div_7SDlmc.asdasd{box-shadow: 0px 0px 5px 1px rgba(181,181,181,0.26); -ms-box-shadow: 0px 0px 5px 1px rgba(181,181,181,0.26); -o-box-shadow: 0px 0px 5px 1px rgba(181,181,181,0.26); -moz-box-shadow: 0px 0px 5px 1px rgba(181,181,181,0.26); -webkit-box-shadow: 0px 0px 5px 1px rgba(181,181,181,0.26); }
.div_afP7Nc.sdadsf.asdasd{-webkit-box-pack:  center;-ms-flex-pack:  center;justify-content:  center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.paragraph_4FeXGr.asdasd{margin-right:  0px; margin-bottom: 10px; }
.paragraph_4FeXGr.asdasdsad{margin-bottom: 15px; }
.cbdiv_0a4bc9d8.asdasd{left:  0px; right:  0px; top:  0px; bottom:  0px; margin-top: -45px; }
.div_QtY9Xh.asdasd{min-height: 150px; }
.div_rseTXK.asdasd{background-color: transparent; }
.div_F9Q1XE.asdasdsa.asdasd{padding-top:  0px; padding-bottom: 0px; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds{margin-bottom: 7.5px; width:  100%; }
.section_o1tLAN.asdasd.czxwer{background-color: rgba(235,235,235,0.24); }
.section_o1tLAN.asdasd.asdasdxzcwe{background-color: rgba(235,235,235,0.24); }
.image_shDrwP.asdasd.asdasdasxz{margin-left: 0px; }
.div_suB2vn.asdasdsad{padding-top: 0px; }
.div_suB2vn.asdasdsadxc{padding-top:  0px; }
.div_suB2vn.asdasdsadxc.qweqwassadasd{padding-bottom: 18px; }
.cbdiv_0a4bc9d8.asdasd.gjfgj424{margin-top: 0px; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds.th456{width: 50%; }
.column_2yF0oA.asdasdsad.xcvbn.asdzxds.fgs456{margin-bottom: 7.5px; }
.column_2yF0oA.asdasdsad.xcvbn.gfd456{display: inline-block; }
.div_qIUvVR.xcvbnm{height: 120px; }
.section_nIxKSH.xcvbn{padding-top:  30px; padding-bottom:  30px; margin-top: -7px; }
.div_Thm37x{margin-top:  -35px; margin-bottom: 26px; }
.div_WGJ9Tb{width: 80%; }
.heading_UQmBKx{font-size: 40px; margin-top: 20%; margin-bottom: 10%; }
.container_DZuT3o{width: 100%; margin-left: -20%; }
.div_lRrBEQ{width: 56%; }
.div_7Ru6ir{display:  -webkit-box;display:  -ms-flexbox;display:  flex; -webkit-box-orient:  vertical; -webkit-box-direction:  normal; -ms-flex-direction:  column; flex-direction:  column; -webkit-box-pack:  center; -ms-flex-pack:  center; justify-content:  center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.heading_bg5TWr{margin-left:  0px; text-align:  center; font-size: 12px; }
} 
@media (min-width: 768px) {} 
@media (min-width: 992px) {} 
@media (min-width: 768px) and (max-width: 991px) {} 